<header class="page-header">
  <span class="logo">Mad Libs!</span>
  <span class="header-item login-logout">
    <!-- href="#modal1" id="login-btn" -->
    <a class="modal-trigger" href="#modal1">Log In</a>
  </span>
  <span class="header-item start-new-madlib">+New Mad Lib</span>
</header>
<div class="main"></div>
<div class="modal" id="modal1">
</div>
